.app-open{
    background-color:#4682B4 ;
    height: 40px;
}










.buttonOpen{
    width: 150px;
    height: 29px;
    font-size: large;
    
}
.inputOpen{
    height: 20px;
}